@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Grenze+Gotisch:wght@400;600&family=Italiana&family=ZCOOL+QingKe+HuangYou&display=swap');

header {
  top: -100px;
  color: #fff;
  background: linear-gradient(135deg, #503dbe, #812399);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 15px 70px;
  /* padding: 15px 0; */
  /* opacity: 0; */
  transition: all 0.7s ease;
  animation: slideDown 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; 
}

.averager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  /* color: rgb(235, 88, 137); */
  color: #e99f31;
  font-family: 'ZCOOL QingKe HuangYou', sans-serif;
  letter-spacing: 3px;
  padding-top: 3px;
  padding-left: 15px;
}

strong {
  font-size: 38px;
  /* color: rgb(226, 47, 131); */
  color:#f07320;
}

.header_options {
  display: flex;
  align-items: center;
}

.auth_options {
  display: flex;
  align-items: center;
}

.addStory-link,
.readList-link{
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: color 0.3s ease;
  font-size: 20px;
  padding: 18px 0;
  font-family: Exo;
}

.readList-link {
  font-size: 29px;
}

.addStory-link {
  border: #fff 1px solid;
  padding: 4px 10px;
  border-radius: 10px;
}

.sub-profile-wrap {
  padding-right: 10px;
}

.addStory-link:hover,
.readList-link:hover,
.profile-link:hover {
  color: #df9f41;
}

.addStory-link:hover {
  border: #e99f31 1px solid;
  background-color: #df9f41;
  color: #812399;
}

.profile-link:hover {
  border: #e99f31 1px solid;
  background-color: #e99f31;
  color: #812399;
}


/* No Auth Options */
.noAuth_options {
  display: flex;
  align-items: center;
  padding: 15px 10px;
}

.login-link {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  transition: color 0.3s ease;
  font-size: 20px;  
  border: #fff 1px solid;
  padding: 3px 12px;
  border-radius: 10px;
  font-family: Exo;
}

.login-link:hover {
  border: #e99f31 1px solid;
  background-color: #e99f31;
  color: #812399;
  font-size: 21px;
}




/* HeaderSearch.css */
.header-search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #dfdfdfc4;
  border-radius: 5px;
  padding: 8px;
  transition: background-color 0.3s ease-in-out;
  margin: 5px 0;
  height: 3rem;
}

.header-search:hover {
  background-color: #e0e0e0;
}

.search input {
  margin-top: 5px;
  /* padding-bottom: 25px; */
  background-color: transparent;
  border: none;
  outline: none;
  padding: 8px;
  /* border-radius: 5px; */
  width: 100%;
  border-bottom: 1px solid rgb(141, 141, 141);
  margin-bottom: 8px;
} 

.search input:hover {
  border-bottom: 2px solid rgb(17, 17, 17);
}


.search-icon {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.search-icon:hover {
  color: #e99f31;
  font-size: 22px;
  font-weight: bolder;
}







/* .searches {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ccc;
  color: blue;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
} */

/* .search {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
}

.searcht {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
} */
/* 
.search input {
  border: none;
  outline: none;
  background: none;
  margin-right: 5px;
  font-family: 'Roboto', sans-serif;
}

.search-icon {
  color: #333;
  transition: color 0.3s ease;
  cursor: pointer;
} */

.search-tags-input .MuiChip-inputRoot {
  border: none;
}


.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(5%);
	}
	100% {
		transform: translateY(0%);
	}		
}

